body{

background:#111;

color:white;

font-family:Arial;

display:flex;

justify-content:center;

align-items:center;

height:100vh;

}

.chat{

width:600px;

background:#222;

padding:25px;

border-radius:15px;

}

input{

width:75%;

padding:12px;

}

button{

padding:12px;

}
